<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ReadyShift.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>68</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1AD714A56587350DEA46AF4970A1DD5CE40C7336</string>
				<key>dateExpires</key>
				<string>13/05/26</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1AD714A56587350DEA46AF4970A1DD5CE40C7336</string>
						<key>dateExpires</key>
						<string>13/05/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Persona2.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7V5U56GNZZ</string>
						<key>name</key>
						<string>Nikhil Sachdeva</string>
					</dict>
					<key>versionNumber</key>
					<string>2.38.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>0.12.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1AD714A56587350DEA46AF4970A1DD5CE40C7336</string>
						<key>dateExpires</key>
						<string>13/05/26</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>hermesvm.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>7V5U56GNZZ</string>
						<key>name</key>
						<string>Nikhil Sachdeva</string>
					</dict>
					<key>versionNumber</key>
					<string>0.12.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7V5U56GNZZ.readyshift.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.applesignin</key>
				<array>
					<string>Default</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>7V5U56GNZZ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>ReadyShift.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a9d2df35-7065-494f-adf2-6855781e4d15</string>
				<key>dateExpires</key>
				<string>13/05/26</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: readyshift.app</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7V5U56GNZZ</string>
				<key>name</key>
				<string>Nikhil Sachdeva</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
